
 
 input[type=text] {
     width: 40%;
     border: none;
     border-bottom: 2px solid rgb(7, 6, 6);
   }
 
   button {
     background-color: #2aab7c;
     border: none;
     color: white;
     padding: 10px 10px;
     text-decoration: none;
     margin: 10px 2px;
     cursor: pointer;
   }